.blog-post{
    margin-top:40px;
    .title{
        font-size:20px;
        font-weight: bold;
        margin-bottom:30px;
    }
    .button-action{
        width: 200px;
        margin-right: 0px;
        margin-left:auto ;
    }
}